/* LANDING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  background: linear-gradient(#de7c7d 60%, #cc2b52) no-repeat;
  color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*HEADER*/

.container-title-login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffbe98;
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #701c1c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}

/*MENU USER*/
.settings-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  min-width: 4rem;
  height: auto;
}

.settings-content a {
  color: #000;
  width: 100%;
  padding: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*DISPLAY DE LOS SETTINGS*/
.settings-content {
  display: none; /* Por defecto, oculto */
  margin-top: 0.5rem;
}

.settings-content a:hover {
  background-color: #cc2b52;
  color: #ddd;
  box-shadow: 0px 5px 5px #af1740;
}

/* Cuando se activa la clase "active", se muestra */
.settings.active .settings-content {
  display: block;
}

/*USER*/
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #701c1c;
  border-radius: 70%;
}

.head {
  height: 1rem;
  width: 1rem;
  background-color: #701c1c;
  border-radius: 100%;
}
.ubody {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 50% 50% 0 0;
  background-color: #701c1c;
}
.user-container:hover .head {
  background-color: #cc2b52;
}

.user-container:hover .ubody {
  background-color: #cc2b52;
}

/*LANDING*/

.landing-content {
  padding: 4%;

  text-align: center;
  color: #740938;
  display: flex;
  flex-direction: column;
}
.intro {
  margin-bottom: 40px;
  color: #740938;
  font-weight: bold;
}
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature {
  flex: 1;
  margin: 20px;
  max-width: 500px;
}

.feature p {
  font-size: 16px;
  color: #000000;
}
.feature img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding: 10px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #740938;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 20px;
}
.cta-button:hover {
  background-color: #cc2b52;
}

@media screen and (max-width: 600px) {
  body {
    height: 100%;
    background: linear-gradient(#de7c7d, #cc2b52) no-repeat;
  }

  .features {
    flex-direction: column;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
  }

  .feature {
    margin: 10px;
  }

  .intro {
    font-size: 20px;
  }

  .cta-button {
    font-size: 20px;
  }

  .call-to-action {
    padding-top: 15%;
  }
}

/*==================================================*/

/*COLORES*/
/*https://colorhunt.co/palette/740938af1740cc2b52de7c7d*/

/*==================================================*/
/*LOGIN*/

/*DASHBOARD*/
