* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(#de7c7d 60%, #cc2b52) no-repeat;
  color: #333;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: #333;
}

.main-container div {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "aside section section"
    "footer footer footer";
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.signup {
  background-color: #cc2b52;
}
.signup header {
  background-color: beige;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "uno titulo dos";
}

.signup nav {
  background-color: rgb(255, 255, 0);
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "uno titulo dos";
}
.signup aside {
  background-color: rgb(131, 0, 0);
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "uno titulo dos";
}
.signup section {
  background-color: rgb(30, 255, 0);
  grid-area: section;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "uno titulo dos";
}
.signup footer {
  background-color: rgb(0, 140, 255);
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "uno titulo dos";
}
.login {
  background-color: aliceblue;
}
