* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(#de7c7d 60%, #cc2b52) no-repeat;
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 75%;
  height: 75%;
  color: #fff;
}

.main-container input {
  font-size: 0.8rem;
  width: 50%;
  margin: 10px;
  padding: 2%;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
}
.signup {
  height: 100%;
  width: 50%;
  border-right: 1px solid #333;
  display: flex;
  flex: 3;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#0b80d4 20%, #003153);
}

.login {
  height: 100%;
  width: 50%;
  border-left: 1px solid #333;

  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#0b80d4 20%, #003153);
}

.signup div {
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login div {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#signinbtn {
  border-bottom: 1px solid#de7c7d;
  gap: 5px;
}
#signinbtn a {
  width: 50%;
  padding: 1%;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #003153;
}

a:hover#facebook {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#17a9fd, #0165e1);
}
a:hover#google {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: black;
}

::placeholder {
  color: #fff;
}

.nav {
  width: 100%;
  height: 10%;
  margin-bottom: 1rem;
}

.header {
  width: 100%;
  height: 15%;
  margin: 10px;
}

.content a {
  color: #fff;
}

.btn {
  width: 100%;
  height: 15%;
  margin-bottom: 10px;
}
.btn a {
  width: 50%;
  padding: 3%;
  border-radius: 25px;
  text-align: center;
  background-color: #333;
}

.btn a:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  background-color: #4d4d4d;
}

/* @media screen and (max-width: 900px) {
  body {
    height: auto;
    background: linear-gradient(#de7c7d, #cc2b52) no-repeat;
    padding-top: 6em;
  }
  .main-container {
    flex-direction: column-reverse;
    font-size: 20px;
    margin: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .login,
  .signup {
    width: 75%;
  }

  .feature {
    margin: 10px;
  }

  .intro {
    font-size: 20px;
  }

  .cta-button {
    font-size: 20px;
  }

  .call-to-action {
    padding-top: 25%;
  }
} */

@media screen and (max-width: 600px) {
  body {
    height: auto;
    background: linear-gradient(#de7c7d, #cc2b52) no-repeat;
    padding-top: 5em;
    overflow: auto;
  }

  .main-container {
    flex-direction: column-reverse;
    font-size: 20px;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .login,
  .signup {
    width: 75%;
  }
  .feature {
    margin: 10px;
  }

  .intro {
    font-size: 20px;
  }

  .cta-button {
    font-size: 20px;
  }

  .call-to-action {
    padding-top: 25%;
  }
}
